@import "tailwindcss";

:root{
  --rose:#E9B4A9;
  --roseDeep:#DDA396;
  --cream:#F6E6DA;
  --gold:#D4AF37;
  --charcoal:#2B2B2B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body{ color:var(--charcoal); background:#fff; }
